*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    font-weight: 1000px;
    font-size: 20px;

}
.container-transition{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin:20px;
}
p{
    text-align: center;
}
.One,.Two,.Three,.Four,.Five{
    height:100px;
    width:100px;
}
.One{
    background-color:yellow;
    padding: 20px;
    margin:20px;
    transition: width 10s,height 10s ,ease;
}
.One:hover{
    width: 400px;
    height:400px
}
.Two{
    background-color:blue;
    padding: 20px;
    margin:20px;
}
.Three{
    background-color:purple;
    padding: 20px;
    margin:20px;
}
.Four{
    background-color:green;
    padding: 20px;
    margin:20px;
}
.Five{
    background-color:aqua;
    padding: 20px;
    margin:20px;
}