/*Containers*/
.container
{
    box-sizing: border-box;
    padding:20px;
    margin: 20px;

}
.container-row
{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.container-column
{
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.container-rowreverse
{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;

}
.container-columnreverse
{
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;

}
/*Div Color Properties*/
.red
{
   height:100px;
   width:100px;
   background-color: red;
}
.green
{
    height:100px;
    width:100px;
    background-color: green;
}
.yellow
{
    height:100px;
    width:100px;
    background-color: yellow;

}
.blue
{
    height:100px;
    width:100px;
    background-color: blue;

}
.black
{
    height:100px;
    width:100px;
    background-color: black;

}
.orange
{
    height:100px;
    width:100px;
    background-color: orange;

}
.pink
{
    height:100px;
    width:100px;
    background-color: pink;

}