*{
    font-family: "Bebas Neue", sans-serif;
    box-sizing: border-box;
    font-weight: bold;
    font-style: normal;   
    font-size: 30px;
}

.One,.Two,.Three{
    height: 400px;
    width: 400px;
    padding-top: 20px;
}
.One{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.1,0.6,0.7,0.8);
    transition-delay: 1s;
}
.Two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:burlywood;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.1,0.6,0.7,0.2);
    transition-delay: 1s;
}
.Three{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.1,0.6,0.7,0.6);
    transition-delay: 1s;
}
.One:hover{
    width: 600px;
}
.Two:hover{
    width:800px;
}
.Three:hover{
    width: 1000px;
}